{% extends 'dashboard/base.html' %}

{% block content %}
<!-- Page Wrapper -->

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Resumo</h1>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card border-bottom-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Total em conta
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ {{ total_sum }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-wallet fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card border-bottom-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Reserva
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-piggy-bank fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if person_banks %}
    <div class="row">
        {% for obj in person_banks %}
            <h6 class="font-weight-hold">{{ obj.person }}</h6><br>
            {% with obj.all_banks as in_person %}
                {% for item in in_person %}
                <div class="col-md mb-4">
                    <div class="card border-left-dark shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ item.person_associated }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark">Ano</h6>
                        </div>
                        <div class="card-body pt-1 table-wrapper">
                            <table>
                                <tbody>
                                <tr>
                                    <td>2018</td>
                                </tr>
                                <tr>
                                    <td>2019</td>
                                </tr>
                                <tr>
                                    <td>2020</td>
                                </tr>
                                <tr>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>2022</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark">Mês</h6>
                        </div>
                        <div class="card-body pt-1 table-wrapper">
                            <table>
                                <tbody>
                                <tr>
                                    <td>2018</td>
                                </tr>
                                <tr>
                                    <td>2019</td>
                                </tr>
                                <tr>
                                    <td>2020</td>
                                </tr>
                                <tr>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>2022</td>
                                </tr>
                                <tr>
                                    <td>2022</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Balanço</h6>
                </div>
                <div class="card-body">
                    <div class="justify-content-evenly mb-4">
                        <div class="row">
                            <div class="col text-end">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Entradas</div>
                            </div>
                            <div class="col text-start">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Saidas</div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-evenly">
                        <div class="row">
                            <div class="col text-end">
                                <div class="fs-6 h5 mb-0 text-gray-500">R$ 1000.00</div>
                            </div>
                            <div class="vr p-0" style="height: 100%;"></div>
                            <div class="col text-start">
                                <div class="fs-6 h5 mb-0 text-gray-500">-R$ 50.00</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col pr-0">
                            <div class="progress justify-content-end mr-0 rounded-balanco-left">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <div class="progress progress ml-0 rounded-balanco-right">
                                <div class="progress-bar bg-danger" role="progressbar"
                                     style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    Fixos
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Data Inserção</th>
                            <th scope="col">Data Transação</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Banco</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Pessoa</th>
                            <th scope="col">Obs.</th>
                            <th scope="col">Crédito</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.dtt_record|date:"d-m-Y" }}</td>
                            <td>{{ transaction.dt_transaction|date:"d-m-Y" }}</td>
                            <td>{{ transaction.description }}</td>
                            <td>{{ transaction.expense_category }}</td>
                            <td>{{ transaction.value }}</td>
                            <td>{{ transaction.transaction_bank }}</td>
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.transaction_person }}</td>
                            <td>{{ transaction.observation }}</td>
                            <td>{{ transaction.credit_card|default_if_none:"" }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">
                    Ultimas Entradas
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}